.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    font-size: 12px;
    color: #212529;
    border-bottom: 1px solid silver;
  }
  
  .container:last-child {
    border: none;
  }
  
  .image {
    width: 30px;
  }
  
  .name {
    width: 140px;
    font-size: 14xp;
    margin-left: 15px;
    text-align: left;
    font-weight: bold;
    color: #333333;
  }
  
  .symbol {
    text-align: left;
    width: 100px;
  }
  
  .currentPrice {
    text-align: left;
    width: 100px;
  }
  
  .greenPriceChange,
  .redPriceChange {
    width: 100px;
    text-align: left;
    font-weight: bold;
  }
  
  .redPriceChange {
    color: rgb(255, 38, 38);
  }
  
  .greenPriceChange {
    color: rgb(0, 204, 0);
  }
  @media screen and (max-width:480px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 15px 0.5rem;
      font-size: 0.6rem;
      color: #212529;
      border-bottom: 1px solid silver;
    }
    .image {
      width: 7%;
    }
    
    .name {
      width: 20%;
      font-size: 0.7rem;
      margin-left: 15px;
      text-align: left;
      font-weight: bold;
      color: #333333;
    }
    
    .symbol {
      text-align: left;
      width: 10%;
    }
    
    .currentPrice {
      text-align: left;
      width: 10%;
    }
    .marketCap{
      width: 25%;
    }
    .greenPriceChange,
    .redPriceChange {
      width: 10%;
      text-align: left;
      font-weight: bold;
    }
  }