.coinContainer {
  margin: 50px auto;
  border: 1px solid silver;
  border-radius: 10px;
  width: fit-content;
  background-color: #f6f6f6;
}
.labelContainer{
  display: flex;
  justify-content: space-between;
  padding:1rem 3rem 1rem 7rem;
  font-weight: 700;
  
}

.input {
  width: 300px;
  margin-top: 50px;
  border: 1px solid silver;
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  background-color: #f6f6f6;
  transition: all 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: white;
  background: white;
  box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}
@media screen and (max-width:480px) {
  .coinContainer {
    width: 90%;
  }
  .labelContainer{
    
    padding: 1rem 1rem 0.5rem 3rem;
    font-size: 0.2rem;
    font-weight: 700;
  }
}
